
<div class="container">
    <div class="profile-header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVA_HrQLjkHiJ2Ag5RGuwbFeDKRLfldnDasw&usqp=CAU" alt="Profile Picture">
      <div class="profile-header-info">
        <h2>Pavan Edara</h2>
        <span>@pavan_edara</span>
        
        <div class="profile-header-stats">
          <div>
            <span>100</span>
            <span>Posts</span>
          </div>
          <div>
            <span>1M</span>
            <span>Followers</span>
          </div>
          <div>
            <span>500</span>
            <span>Following</span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-content">
      <!-- Add posts or other content here -->
    </div>
  </div>
  