<html>
    <head>
        <style>
          body{
            background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuH9sAbeXxSce2ItMpBE7wxYv8zkhvga4inQ&usqp=CAU");
            background-repeat: no-repeat;
            background-size: 1000px;
            background-position: center;
            height: 100vh;
          }</style>
    </head>
    <body>
      <h1>Instagram</h1>
        <p>Welcome to Instagram,to continue using please register</p>
        <form #registrationForm="ngForm">
            <h1>Register</h1>
            <div>
              <label for="username" >Username:</label>
              <input type="text" id="username" name="username" placeholder="phone number,username " required minlength="3" ngModel>
            </div>
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" placeholder="eg:avz@gmail.com" name="email" required ngModel>
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password"  placeholder="password"required minlength="8" ngModel>
            </div>
            <button type="submit">Register</button>
          </form>
          <p>Already have an account? <a routerLink="frontend/login">Login</a></p>
          <!-- <p><a routerLink="frontend/profile">profile</a></p> -->
          <!-- <p><a routerLink="frontend/posts">Posts</a></p> -->
          <button style="align-items: center;" routerLink="frontend/profile">profile</button><br><br>
          <button routerLink="frontend/posts">posts</button>

          <router-outlet></router-outlet>
          
          </body>
    
</html>

